@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Gemunu+Libre:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: rgb(6, 44, 97);
  --secondary-color: greenyellow;
  --dark-blue: rgb(3, 26, 58);
  --white-color: #fff;
  --black-color: #000;

  --font-family_title: 'Exo 2', sans-serif;
  --font-family_sub-title: var(--font-family_title);
  --font-family_regular: 'Gemunu Libre', sans-serif;
  --font-family_special: 'Roboto Slab', serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Common Styles */

/* Landing Page */

.header-color {
  background-image: url(./assets/images/landBack.jpg);
  background-size: cover;
}
.landing-grid {
  background-image: url(./assets/images/landBack.jpg);
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landingPageContainer {
  height: 100vh;
  width: 100%;
  margin-top: 2.5%;
  position: relative;
}

.nav-color {
  color: #004e92;
}

header link .nav-color {
  background-color: rgba(236, 236, 236, 0.753);
  color: #000428;
  border-radius: 10px;
}

.mdl-layout__title,
.mdl-layout-title {
  font-family: var(--font-family_title);
}

.mdl-layout__header-row .mdl-navigation__link {
  display: block;
  line-height: 64px;
  font-size: 1.5rem;
  font-family: var(--font-family_regular);
  transition: all 0.5s;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  color: greenyellow;
  transform: scale(1.2);
  transition: transform 0.5s, color 0.5s;
}

.avatar-img {
  height: 40rem;
  border: 0.5rem solid var(--dark-blue);
  border-radius: 40%;
  position: relative;
  top: 5%;
}

.banner-text {
  background-color: rgba(32, 32, 32, 0.76);
  opacity: 0.8;
  width: 75%;
  margin: 3.5rem auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 6rem;
  font-weight: bold;
  color: var(--white-color);
  font-family: var(--font-family_title);
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: var(--secondary-color);
  font-size: 2rem;
  padding: 1em;
  font-family: var(--font-family_regular);
}

.projects-grid {
  display: flex;
}
.header title {
  color: white;
}

.mdl-layout__drawer-button {
  transition: all 0.5s;
}

.mdl-layout__drawer-button:hover {
  background-color: rgba(236, 236, 236, 0.753);
  color: #000428;
  border-radius: 10px;
  transition: all 0.5s;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  font-family: var(--font-family_title);
  font-size: 1.5rem;
}

.mdl-layout__title,
.mdl-layout-title {
  font-family: var(--font-family_special);
}

.mdl-layout__drawer .mdl-navigation a.mdl-navigation__link:hover {
  color: white;
  background-color: rgba(0, 34, 65, 0.7);
  font-family: var(--font-family_title);
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
  transition: all 0.5s;
}

.social-links i:hover {
  color: greenyellow;
  transform: scale(1.1);
  transition: transform 0.5s, color 0.5s;
}

/* End of Landing Page */

/* Resume Page */
.resume-right-col {
  background: rgb(6, 44, 97);
  color: white;
  padding: 2em;
}

.resume-sub-title {
  font-family: var(--font-family_title);
}

.resume-p {
  font-size: 1.5rem;
  font-weight: var(--font-family_special);
  font-weight: 200;
  margin: 2rem auto;
  text-align: justify;
}

.resume-right-col h2 {
  font-family: var(--font-family_title);
}

.mdl-grid {
  padding: 8px;
  font-family: var(--font-family_title);
}

.skills-grid p {
  color: white;
}

.resume-topper {
  height: auto;
  width: 100%;
}

.resume-name {
  font-family: var(--font-family_regular);
  font-size: 5rem;
  color: var(--primary-color);
}

.resume-address {
  font-size: 1.7rem;
  font-family: var(--font-family_title);
}

.resume-add-p,
.resume-add-a {
  font-size: 1.3rem;
  color: rgb(226, 41, 71);
  transition: all 0.5s;
}

.resume-add-a:hover {
  color: var(--primary-color);
  transition: color 0.5s;
}

h4 {
  font-family: var(--font-family_title) !important;
}

#Education p,
#Experience p {
  font-family: var(--font-family_regular);
}
/* End of Resume Page */

/* about section */

.about-main-col {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    rgba(0, 78, 146, 0.8),
    rgba(0, 4, 40, 0.8)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    rgba(0, 78, 146, 0.8),
    rgba(0, 4, 40, 0.8)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  border-radius: 10px;
}

.about-hero {
  display: flex;
  justify-content: space-evenly;
}

.about-header h1 {
  color: white;
  font-family: var(--font-family_regular);
  font-size: 6rem;
}

.about-body {
  background-color: rgba(236, 236, 236, 0.1);
  padding: 2rem 5rem;
}

.about-body p {
  font-family: var(--font-family_title);
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
}

.about-img {
  height: 450px;
  padding-bottom: 0.5em;
  padding-top: 1em;
  border-radius: 20px;
}

.aboutBadge-img {
  height: 25rem;
  width: 100%;
  border-radius: 50%;
  transition: all 0.5s;
}

.aboutBadge-img:hover {
  box-shadow: 0.4rem 0.4rem 1.5rem red, -0.3rem -0.3rem 1.5rem white;
  transform: scale(1.05);
  transition: transform 0.5s, box-shadow 0.5s;
}

.about-back {
  position: sticky;
  background-size: cover;
}

.about-body-col {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    rgba(0, 78, 146, 0.9),
    rgba(0, 4, 40, 0.9)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    rgba(0, 78, 146, 0.9),
    rgba(0, 4, 40, 0.9)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  border-radius: 10px;
}

/* projects css */
.mdl-card__title-text {
  background-color: rgba(0, 4, 40, 0.61);
  font-family: 'Oxygen';
  width: 100%;
  border-radius: 2px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.mdl-grid {
  display: contents;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch;
}

.projectButtons {
  text-align: center;
}

/* Contact Page */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.contact-list a {
  color: #004e92;
}

.contact-list a:hover {
  color: greenyellow;
  background-color: rgba(0, 23, 43, 0.3);
  border-radius: 5px;
}

.conBackGrid {
  background-image: url(./assets/images/landBack.jpg);
  background-size: contain;
  border-radius: 5px;
  box-shadow: rgba(0, 23, 43, 0.8);
}

/* End of Contact Page */
